body {
    background: #fff;
    color: #212121;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: .25px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
h1 {
  font-family: 'Proxima Nova', sans-serif;
}
h5 {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  color: #98b3a8;
}
.highlight {
  color: #212121;
}
a {
  text-decoration: none !important;
  font-family: 'Proxima Nova', sans-serif;
  color: #C28E0E;
  font-weight: 500;
  transition: color 0.2s ease;
}
a:hover {
    text-decoration: none !important;
    color: #98700D;
  }

#cover {
    position: relative;
  }
#cover .cover-content {
    margin: 30px auto 30px auto;
    width: 85%;
    max-width: 800px;
    z-index: 999;
    position: relative;
}

#cover .cover-content p {
  margin: 0px auto 30px auto;
}

p a:before, li a:before {
  content: '';
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: rgba(194, 142, 14, 0.1);
  transition: background-color 0.2s ease;
}

p a, li a {
  color: #212121;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

p a:hover:before, li a:hover:before {
  background-color: rgba(194, 142, 14, 0.3);
}